---
---

/* --- Variables --- */

$main-color: #3D5499;
$main-color-alternate: #5B7EE5;
$special-font: "Raleway";
$transition-width: 750px;
$post-element-spacing: 0.5em;

/* --- Font Faces --- */

@font-face {
    font-family: "Latin Modern";
    src: url("web_fonts/lmroman10-regular.otf");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Latin Modern";
    src: url("web_fonts/lmroman10-bold.otf");
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: "Latin Modern";
    src: url("web_fonts/lmroman10-italic.otf");
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: "Latin Modern";
    src: url("web_fonts/lmroman10-bolditalic.otf");
    font-weight: bold;
    font-style: italic;
}

/* --- General --- */

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    width: 700px;
    color: #000000;
    background-color: #FCFCFC;
    font-family: "Latin Modern", "Garamond", "Baskerville",  serif;
    font-size: 18px;
    margin: auto;
    padding-bottom: 20px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: $special-font;
}

a {
    color: $main-color;
    transition: color 0.1s;
}

a:hover {
    color: $main-color-alternate;
}

sub, sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
}

sup {
    top: -0.5em;
}

sub {
    bottom: -0.25em;
}

@media(max-width: $transition-width) {
    body {
        width: calc(100% - 50px)
    }
}

/* --- Plain --- */

.content {
    padding: 20px;
}

/* --- Header --- */

.site-header {
    text-align: center;
    margin-top: 100px;
    padding-bottom: 20px;
    border-bottom: 1px solid #000000;
}

    .site-header h1 {
        font-size: 3em;
        font-weight: 100;
        margin-bottom: 20px;
    }

        .site-header h1 a {
            text-decoration: none;
        }

    .site-header .tagline {
        margin-bottom: 20px;
    }

/* --- Nav --- */

.site-nav ul {
    list-style-type: none;
    display: inline-block;
}

.site-nav li {
    display: inline-block;
    border-right: 1px solid black;
    float: left;
}

    .site-nav li:last-child {
        border-right: none;
    }

    .site-nav li a {
        display: block;
        padding: 5px 20px;
    }

@media(max-width: $transition-width) {
    .site-nav ul {
        display: block;
    }

    .site-nav li {
        display: block;
        border-right: none;
        border-top: 1px dotted #000000;
        float: none;
        background-color: #E2E2E2;
    }

        .site-nav li:nth-child(even) {
            background-color: #EEEEEE;
        }

        .site-nav li:last-child {
            border-bottom: 1px dotted #000000;
        }

        .site-nav li a {
            padding: 20px;
        }
}

/* --- Post List --- */

.post-list h2 {
    font-size: 2em;
    font-weight: bold;
    margin-bottom: 10px;
}

.post-list ul {
    list-style-type: none;
}

.post-list .post {
    border-top: 1px dotted #000000;
}

    .post-list .post:last-child {
        border-bottom: 1px dotted #000000;
    }

    .post-list .post a {
        display: block;
        background-color: #E2E2E2;
        text-decoration: none;
        padding: 10px;
        overflow: auto;
    }

        .post-list .post:nth-child(even) a {
            background-color: #EEEEEE;
        }

.post-list .post-title {
    width: 80%;
    float: left;
}

    .post-list .post-title span {
        text-decoration: underline;
    }

.post-list .post-date {
    font-size: 0.75em;
    float: right;
}

    .post-list .post-date span {
        color: #000000;
    }

@media(max-width: $transition-width) {
    .post-list .post-title {
        width: 100%;
        margin-bottom: 5px;
    }

    .post-list .post-date {
        float: none;
    }
}

/* --- Footer --- */

.site-footer {
    padding-top: 20px;
    border-top: 1px dotted #000000;
}

    .site-footer p {
        font-size: 0.8em;
        text-align: center;
        margin-bottom: 5px;
    }

/* --- Posts --- */

.content.post h1,
.content.post h2,
.content.post h3,
.content.post p,
.content.post li {
    line-height: 1.4em;
}

.content.post h1,
.content.post h2,
.content.post h3 {
    font-weight: bold;
    padding: 10px 0;
}

.content.post h1 {
    font-size: 2em;
    margin: 20px 0 10px 0;
    border-top: 1px dotted #000000;
    border-bottom: 1px dotted #000000;
}

.content.post h2 {
    font-size: 1.7em;
}

.content.post h3 {
    font-size: 1.3em;
}

.content.post p,
.content.post li {
    margin-bottom: $post-element-spacing;
}

.content.post ul,
.content.post ol {
    list-style-position: outside;
    margin-left: 30px;
}

.content.post li {
    padding-left: 10px;
}

.content.post ul {
    list-style-type: disc;
}

.content.post ol {
    list-style-type: decimal;
}

.content.post figure {
    margin: $post-element-spacing;
    padding: 10px;
    border: 1px solid #000000;
}

    .content.post figure figcaption {
        background-color: #EEEEEE;
        font-size: 0.8em;
        text-align: center;
        padding: 10px;
        border: 1px solid #000000;
        border-left: 10px solid $main-color;
        border-right: 10px solid $main-color;
    }

    .content.post figure figcaption p {
        margin: 0;
    }

.content.post table {
    margin: $post-element-spacing auto;
    border: 2px solid #000000;
}

    .content.post table td,
    .content.post table th {
        text-align: center;
        padding: 10px;
        border: 1px solid #000000;
    }

    .content.post table th {
        border-bottom-width: 2px;
}

.content.post blockquote {
    background-color: #EEEEEE;
    padding: 15px 20px;
    margin-bottom: $post-element-spacing;
    border-left: 10px solid $main-color;
}

    .content.post blockquote p {
        margin: 0;
    }

    .content.post blockquote cite {
        display: block;
        font-style: italic;
        text-align: right;
    }

        .content.post blockquote cite:before {
            content: "\2014"
        }

.content.post i,
.content.post em {
    font-style: italic;
}

.content.post b,
.content.post strong {
    font-weight: bold;
}

.content.post .center {
    display: block;
    text-align: center;
}

.content.post .spoiler {
    color: #000000;
    background-color: #000000;
}

    .content.post .spoiler:hover {
        color: inherit;
        background-color: inherit;
    }

    .content.post .spoiler > * {
        visibility: hidden;
    }

        .content.post .spoiler:hover > * {
            visibility: visible;
        }

.content.post .mutter {
    font-style: italic;
    color: #AAAAAA;
}

.content.post > *:first-child {
    margin-top: 0;
}

.content.post > *:last-child {
    margin-bottom: 0;
}

#back-to-posts {
    padding: 20px;
    text-align: center;
    border-top: 1px dotted #000000;
}

/* --- Code --- */

.content.post pre,
.content.post code {
    font-family: "Inconsolata", monospace;
}

    .content.post pre.highlight {
        padding: 10px;
    }

.content.post code {
    background-color: #EEEEEE;
}

.content.post .highlight {
    margin-bottom: $post-element-spacing;
    border-radius: 5px;
    overflow-x: auto;
}

    .content.post .highlight code {
        background-color: transparent;
    }

    .content.post .highlight pre.lineno {
        background-color: rgb(52, 61, 69);
        color: rgb(100, 115, 125);
        margin-right: 10px;
        padding: 10px;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        -o-user-select: none;
        user-select: none;
    }

    .content.post .highlight table {
        margin: 0;
        border: none;
    }

        .content.post .highlight table td,
        .content.post .highlight table th {
            text-align: left;
            padding: 0;
            border: none;
        }

/* -- Footnotes --*/

.content.post .reversefootnote {
    text-decoration: none;
}

.content.post .footnotes {
    margin-top: 20px;
    padding-top: 20px;
    border-top: 1px dotted #000;
}
