---
---

/* --- Variables --- */

$main-color: #3D5499;
$main-color-darker: #293866;

/* --- Font Faces --- */

@font-face {
    font-family: "Latin Modern";
    src: url("web_fonts/lmroman10-regular.otf");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Latin Modern";
    src: url("web_fonts/lmroman10-bold.otf");
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: "Latin Modern";
    src: url("web_fonts/lmroman10-italic.otf");
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: "Latin Modern";
    src: url("web_fonts/lmroman10-bolditalic.otf");
    font-weight: bold;
    font-style: italic;
}

/* --- Plain --- */

body {
    font-family: "Latin Modern", "Garamond", "Baskerville",  serif;
    font-size: 16px;
    background-color: #FCFCFC;
    padding-bottom: 20px;
}

a {
    color: $main-color;
    transition: color 0.1s;
    text-decoration: none;
}

a:hover {
    color: $main-color-darker;
}

.page-wrapper {
    width: 700px;
    margin: auto;
}

@media(max-width: 750px) {
    .page-wrapper {
        width: calc(100% - 50px)
    }
}

/* --- Default --- */

.content {
    padding: 20px;
}

/* --- Header --- */

.site-header {
    text-align: center;
    margin-top: 100px;
    padding-bottom: 20px;
    border-bottom: 1px solid #000000;
}

    .site-header h1 {
        font-size: 3em;
        font-weight: bold;
        margin-bottom: 20px;
    }

    .site-header .tagline {
        margin-bottom: 20px;
    }

/* --- Nav --- */

.site-nav ul {
    list-style-type: none;
    display: inline-block;
}

.site-nav li {
    display: inline-block;
    border-right: 1px solid black;
    float: left;
}

    .site-nav li:last-child {
        border-right: none;
    }

    .site-nav li a {
        display: block;
        text-decoration: none;
        padding: 5px 20px;
    }

/* --- Post List --- */

.post-list h2 {
    font-size: 2em;
    font-weight: bold;
    margin-bottom: 10px;
}

.post-list ul {
    list-style-type: none;
}

.post-list .post {
    border-top: 1px dotted #000000;
}

    .post-list .post:last-child {
        border-bottom: 1px dotted #000000;
    }

    .post-list .post a {
        display: block;
        background-color: #F3F3F3;
        text-decoration: none;
        padding: 10px;
        overflow: auto;
    }

        .post-list .post:nth-child(even) a {
            background-color: #F8F8F8;
        }

.post-list .post-title {
    width: 80%;
    float: left;
}

    .post-list .post-title span {
        text-decoration: underline;
    }

.post-list .post-date {
    font-size: 0.75em;
    float: right;
}

    .post-list .post-date span {
        color: #000000;
    }

@media(max-width: 750px) {
    .post-list .post-title {
        width: 100%;
        margin-bottom: 5px;
    }

    .post-list .post-date {
        float: none;
    }
}

/* --- Footer --- */

.site-footer {
    padding-top: 20px;
    border-top: 1px dotted #000000;
}

    .site-footer p {
        font-size: 0.8em;
        text-align: center;
        margin-bottom: 5px;
    }

/* --- Posts --- */

.content.post h1,
.content.post h2,
.content.post h3
{
    font-weight: bold;
    padding: 10px;
}

.content.post h1 {
    font-size: 2em;
    margin: 20px 0 10px 0;
    border-top: 1px dotted #000000;
    border-bottom: 1px dotted #000000;
}

.content.post h2 {
    font-size: 1.7em;
}

.content.post h3 {
    font-size: 1.5em;
}

.content.post p {
    font-size: 1.2em;
    line-height: 1.4em;
    margin-bottom: 10px;
}

.content.post i,
.content.post em {
    font-style: italic;
}

.content.post b,
.content.post strong {
    font-weight: bold;
}

.content.post > *:first-child {
    margin-top: 0;
}

.content.post > *:last-child {
    margin-bottom: 0;
}

.content.post .spoiler {
    color: #000000;
    background-color: #000000;
}

    .content.post .spoiler:hover {
        color: inherit;
        background-color: inherit;
    }

/* --- Code --- */

pre {
    font-family: "Inconsolata", monospace;
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid black;
    border-radius: 5px;
    overflow: scroll;
}

.highlighttable {
    width: 100%;
    margin: 20px 0;
    table-layout: fixed;
}

    .highlighttable pre {
        margin: 0;
        padding: 0;
        border: none;
        border-radius: 0;
        overflow: auto;
    }

.linenos, .highlight {
    padding: 20px 10px;
}

.linenos {
    width: 30px;
    background-color: rgb(52, 61, 69);
    color: rgb(100, 115, 125);
    text-align: right;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.highlight {
    overflow: scroll;
    border-right: 10px solid rgb(43, 48, 59);
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

