---
---

/* --- Variables --- */

$main-color: #3D5499;
$main-color-alternate: #5B7EE5;
$special-font: "Raleway";
$transition-width: 750px;
$post-element-spacing: 0.5em;

/* --- Font Faces --- */

@font-face {
    font-family: "Latin Modern";
    src: url("web_fonts/lmroman10-regular.otf");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Latin Modern";
    src: url("web_fonts/lmroman10-bold.otf");
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: "Latin Modern";
    src: url("web_fonts/lmroman10-italic.otf");
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: "Latin Modern";
    src: url("web_fonts/lmroman10-bolditalic.otf");
    font-weight: bold;
    font-style: italic;
}

/* --- Plain --- */

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    width: 700px;
    color: #000000;
    background-color: #FCFCFC;
    font-family: "Latin Modern", "Garamond", "Baskerville",  serif;
    font-size: 18px;
    margin: auto;
    padding-bottom: 20px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: $special-font;
}

a {
    color: $main-color;
    transition: color 0.1s;
}

a:hover {
    color: $main-color-alternate;
}

@media(max-width: $transition-width) {
    body {
        width: calc(100% - 50px)
    }
}

/* --- Default --- */

.content {
    padding: 20px;
}

/* --- Header --- */

.site-header {
    text-align: center;
    margin-top: 100px;
    padding-bottom: 20px;
    border-bottom: 1px solid #000000;
}

    .site-header h1 {
        font-size: 3em;
        font-weight: 100;
        margin-bottom: 20px;
    }

        .site-header h1 a {
            text-decoration: none;
        }

    .site-header .tagline {
        margin-bottom: 20px;
    }

/* --- Nav --- */

.site-nav ul {
    list-style-type: none;
    display: inline-block;
}

.site-nav li {
    display: inline-block;
    border-right: 1px solid black;
    float: left;
}

    .site-nav li:last-child {
        border-right: none;
    }

    .site-nav li a {
        display: block;
        padding: 5px 20px;
    }

/* --- Post List --- */

.post-list h2 {
    font-size: 2em;
    font-weight: bold;
    margin-bottom: 10px;
}

.post-list ul {
    list-style-type: none;
}

.post-list .post {
    border-top: 1px dotted #000000;
}

    .post-list .post:last-child {
        border-bottom: 1px dotted #000000;
    }

    .post-list .post a {
        display: block;
        background-color: #E2E2E2;
        text-decoration: none;
        padding: 10px;
        overflow: auto;
    }

        .post-list .post:nth-child(even) a {
            background-color: #EEEEEE;
        }

.post-list .post-title {
    width: 80%;
    float: left;
}

    .post-list .post-title span {
        text-decoration: underline;
    }

.post-list .post-date {
    font-size: 0.75em;
    float: right;
}

    .post-list .post-date span {
        color: #000000;
    }

@media(max-width: $transition-width) {
    .post-list .post-title {
        width: 100%;
        margin-bottom: 5px;
    }

    .post-list .post-date {
        float: none;
    }
}

/* --- Footer --- */

.site-footer {
    padding-top: 20px;
    border-top: 1px dotted #000000;
}

    .site-footer p {
        font-size: 0.8em;
        text-align: center;
        margin-bottom: 5px;
    }

/* --- Posts --- */

.content.post h1,
.content.post h2,
.content.post h3,
.content.post p,
.content.post li {
    line-height: 1.4em;
}

.content.post h1,
.content.post h2,
.content.post h3 {
    font-weight: bold;
    padding: 10px 0;
}

.content.post h1 {
    font-size: 2em;
    margin: 20px 0 10px 0;
    border-top: 1px dotted #000000;
    border-bottom: 1px dotted #000000;
}

.content.post h2 {
    font-size: 1.7em;
}

.content.post h3 {
    font-size: 1.3em;
}

.content.post p,
.content.post li {
    margin-bottom: $post-element-spacing;
}

.content.post ul,
.content.post ol {
    list-style-position: inside;
    margin-left: 10px;
}

.content.post ul {
    list-style-type: disc;
}

.content.post ol {
    list-style-type: decimal;
}

.content.post blockquote {
    background-color: #EEEEEE;
    padding: 15px 20px;
    margin-bottom: $post-element-spacing;
    border-left: 10px solid $main-color;
}

    .content.post blockquote p {
        margin: 0;
    }

.content.post i,
.content.post em {
    font-style: italic;
}

.content.post b,
.content.post strong {
    font-weight: bold;
}

.content.post .center {
    display: block;
    text-align: center;
}

.content.post .spoiler {
    color: #000000;
    background-color: #000000;
}

    .content.post .spoiler:hover {
        color: inherit;
        background-color: inherit;
    }

    .content.post .spoiler > * {
        visibility: hidden;
    }

        .content.post .spoiler:hover > * {
            visibility: visible;
        }

.content.post .mutter {
    font-style: italic;
    color: #AAAAAA;
}

.content.post > *:first-child {
    margin-top: 0;
}

.content.post > *:last-child {
    margin-bottom: 0;
}

/* --- Code --- */

pre,
code {
    font-family: "Inconsolata", monospace;
}

pre {
    margin-bottom: $post-element-spacing;
    padding: 10px;
    border: 1px solid black;
    border-radius: 5px;
    overflow: scroll;
}

code {
    background-color: #EEEEEE;
}

pre code {
    background-color: transparent;
}

.highlighttable {
    width: 100%;
    margin: 20px 0;
    table-layout: fixed;
}

    .highlighttable pre {
        margin: 0;
        padding: 0;
        border: none;
        border-radius: 0;
        overflow: auto;
    }

    .highlighttable code {
        background-color: transparent;
    }

.linenos, .highlight {
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    -ms-box-sizing: content-box;
    -o-box-sizing: content-box;
    box-sizing: content-box;
    padding: 20px 10px;
}

.linenos {
    width: 30px;
    background-color: rgb(52, 61, 69);
    color: rgb(100, 115, 125);
    text-align: right;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.highlight {
    overflow: scroll;
    border-right: 10px solid rgb(43, 48, 59);
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
